body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin:20 20 0 20;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2 {
    color: #0D0D0D;
    font-size: 30px;
}

p {
    font-size: 24px;
    padding: 10 0 0 10;
}

img {
    width: 250px;
    display: block; /* need to set to center the image*/
    margin-left: auto; /* need to set to center the image*/
    margin-right: auto; /* need to set to center the image*/
    border: 10px dashed #FFFFFF;

}

div {
    min-height: 125px;
    padding: 20px; /* adds space around elements contents*/
    border: 3px solid #FFFFFF;
}

.introduction {
    border-radius: 15px; /* curves the edges */
    margin-top: 15px;
    line-height:2; /* double spaced text*/
}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #000000;
    border-left: 5px solid #000000;
    border-color: #FFFFFF
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-left: 50px;
    border-bottom: 2px solid #000000;
    border-left: 5px solid #000000;
    color: #C4C4C4;
}

.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #000000;
    border-left: 5px solid #000000;
    border-color: #FFFFFF;
    color: #707070;
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #000000;
    border-top: 2px solid #000000;
    font-size: 20px;
    text-align: right;
}

footer {
    background: linear-gradient(to bottom, #000000 0%, #0000FF 25%, #0066FF 70%, #000000 100%);
    border: 5px solid #FFFFFF;
}

footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
}